{%extends 'web_site/base.html'%}
{%load static%}

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    
  </head>

  <body>
    {%block content%}

    <div class="container">
      <p class="text-center"> .</p>
    </div>

    <div class="container fs-2 mt-5">
      <p class="text-center"> Meus Projetos</p>
    </div>

    <div class="container">

      <div class="card-group mt-3">
        <div class="card">
          <img src="{%static 'images/robo3.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <center>
              <h5 class="card-title">WitBot</h5>
              <p class="card-text">Uma Plataforma Robótica com Braço Robótico, sensor ultrassônico,
                ESP8266, Motor Shield. Possui Chassi 4w, Braço giratório em até 180°.
                Código desenvolvido em C++ para Arduino Uno R3</p>
          </div>
          <a href="{% url 'web_site:witbot'%}" class="btn btn-primary">Ler</a>
          <div class="card-footer">
            <small class="text-muted">Versão 1.1</small>
            </center>
          </div>
        </div>
        <div class="card">
          <img src="{%static 'images/bg1.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <center>
              <h5 class="card-title">Alien Game</h5>
              <p class="card-text">Esse é um jogo de nave contra aliens. O mundo está tomado por Aliens e você precisa
                eliminá-los antes do eclipse, caso contrário, haverá um extermínio em massa dos humanos.</p>
          </div>
          <a href="{% url 'web_site:game'%}" class="btn btn-primary">Ler</a>
          <div class="card-footer">
            <small class="text-muted">Versão 1.0</small>
            </center>
          </div>
        </div>
      </div>

      {%endblock content%}
  </body>

</html>